:root
{
  --yellow: yellow;
    --orange : #FCA61F;
    --green : #4AD200;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --yellowCard: rgba(245, 252, 31, 0.45);
    --greenCard: rgb(35, 252, 31, 45%);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);

}

.App{
    overflow: hidden;  
}
.mainContent{
  margin: 10vh 0 0 0;
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black); 
}

.button {
    background: linear-gradient(180deg, #ffdc69 26.71%, #ffea00 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251, 244, 40, 0.42);
    border-radius: 34px;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 11px 26px 11px 26px;
    text-shadow: rgb(139 139 139) 0px 1px 11px;
  }
.notDark .button {
    background: linear-gradient(180deg, #22ff00 26.71%, #3bff76 99.36%);
    color: white;
    box-shadow:0px 20px 24px 3px rgb(42 251 40 / 42%);
  }
  
  .button:hover {
    background: white;
    cursor: pointer;
    border: 1px solid var(--green);
    color: var(--green);
    text-shadow: none;
    box-shadow: 0px 20px 24px 3px rgb(42, 251, 40 , 42%);
  }
  @media screen and (max-width: 480px) {
    .mainContent {
      padding: 0.5rem 1rem;
      box-sizing: border-box;

    }
  }

  

  